---
layout: layouts/base.njk
title: Articles
---

<h1>Medium to Small JAMstack</h1>
<p>This site features articles from Markdown files and renders them correctly for the proxy.</p>

<hr/>

<h2>Articles</h2>
<ul class="listing">
{% for item in medium.posts %}
  <li>
    <p class="meta">Published on {{ item.date | date('friendly') }}</p>
    <h3>
      <a href="{{ item.path | url }}">{{ item.title }}</a>
    </h3>
  </li>
{% endfor %}
</ul>
