---
layout: layouts/base.njk
title: Articles
---

<h1>Notebook</h1>

<section class="tags">
  <div>
    {% set allTags = notebook.notes | map("tags") | flatten | unique %}
    {% for tag in allTags %}
      {% set count = notebook.tagCounts[tag] %}
      <a href="?tag={{ tag }}" class="tag-button">#{{ tag }} ({{ count }})</a>
    {% endfor %}
  </div>
</section>

<section class="posts">
  <ul class="post-list">
    {% for note in notebook.notes %}
      <li class="post" data-tags="{{ note.tags | join(',') }}">
        <span class="post-date">{{ note.date }}</span>
        <span class="post-title">
          <a href=".{{ note.path }}">{{ note.title }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
</section>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const tag = urlParams.get('tag');
  if (tag) {
    document.querySelectorAll('.post').forEach(post => {
      const postTags = post.getAttribute('data-tags').split(',');
      if (!postTags.includes(tag)) {
        post.style.display = 'none';
      }
    });
  }
</script>
