---
layout: layouts/base.njk
pagination:
  data: notebook.notes
  size: 1
  alias: item
permalink: "{{ item.path }}/index.html"
eleventyComputed:
  title: "{{ item.title }}"
---

<div class="note-content">
  {{ item.content | safe }}
</div>
