---
layout: layouts/base.njk
pagination:
  data: notebook.notes
  size: 1
  alias: item
permalink: "{{ item.path }}/index.html"
---
<a href="{{ pathPrefix }}index.html" class="back-button">← Back</a>
{{url}}
<h1>{{ item.title }}</h1>
<p class="meta">
  Published on {{ item.date | formatDate }} · {{ item.readTime }}
</p>

<div class="note-content">
  {{ item.content | safe }}
</div>
