<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Not Another Notebook {{ title }}</title>
    <link rel="stylesheet" href="{{ pathPrefix }}/css/styles.min.css?v=1dmdadd2345dddd1811" />
    <link rel="stylesheet" href="{{ pathPrefix }}/css/prism.min.css?v=02112111112" />
  </head>
  <body>
    <div class="container">
      {% include "layouts/header.njk" %}
      {{ content | safe }}
    </div>
    {% include "layouts/footer.njk" %}

        <script>
  const wsProtocol = location.protocol === "https:" ? "wss:" : "ws:";
  const ws = new WebSocket(wsProtocol + '//' + location.host + location.pathname);

  ws.onmessage = (message) => {
    if (message.data === 'reload') {
      console.log("Reloading page...");
      location.reload();
    }
  };

  ws.onclose = () => {
    console.warn("WebSocket connection closed.");
  };

  ws.onerror = (err) => {
    console.error("WebSocket error:", err);
  };
</script>

  </body>
</html>
